# Node.js
node_modules/
npm-debug.log

# HLS segments and playlists
*.ts
*.m3u8

# MacOS
.DS_Store

# Logs
logs
*.log
npm-debug.log*

# dotenv environment variables file
.env

# Ignore built assets
dist/
build/
